/*All*/
/*https://webdesign-trends.net/entry/8148*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'SF Pro Text R';
  src: url(fonts/SF-Pro-Text-Regular.otf);
}
@font-face {
  font-family: 'SF Pro Text S';
  src: url(fonts/SF-Pro-Text-Semibold.otf);
}

body {
  background: #e2f4de;
  color: #1d1d1f;
  font-size: 17px;
  line-height: 1.47059;
  letter-spacing: -.022em;
  font-family: "SF Pro Text R", "Helvetica Neue","Helvetica","Arial",sans-serif;
  font-style: normal;
  text-align: center;
}

/*navigation bar*/
nav {
  width: 100vw;
  height: 48px;
  position: fixed;
  display: block;
  top: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.92);
  font-size: 17px;
  user-select: none;
}

/*Common Section*/
section {

}

/*home content*/
/*#home {
  width: 100%;
  height: 690px;
  position: relative;
  overflow: hidden;
  justify-content: center;
}
.home-bigimage {
  background-size: 736px 690px;
  background-repeat: no-repeat;
  background-image: ;
}
.home-var {
  top: 213px;
  display: block;
  width: 250px;
  height: 50px;
}*/
/*about*/
#about {
  position: relative;
  z-index: 2;
  padding-bottom: 200px;
  justify-content: center;
}
.hero-content {
  display: flex;
  flex-direction: column;

}

/*title-container*/
.title-container {
  position: relative;
  z-index: 3;
  padding: 180px 0;
  background: #fff;
  border-radius: 30px 30px;
  overflow: hidden;
  margin-top: 30px;
  will-change: transform;
}

/*Footer*/
footer {

}

/*デザインの参考はApple公式サイトを参照のこと：https://www.apple.com/jp/iphone-12/*/

@media only screen and (max-width: 734px) {
  .title-container {
    padding: 80px 0 130px 0;
  }

  .hero-content {
    flex-basis: 100%;
    max-width: 100%;
  }

}

@media only screen and (max-width: 1068px) {
  .title-container {
    padding: 120px 0 180px 0;
  }

}
